.input {
  width: 79%;
  padding: 12px 20px;
  margin: 3%;
  box-sizing: border-box;
  border-radius: 1rem;
}

.button {
  display: inline-block;
  padding: 12px 20px;
  margin: 3%;
  box-sizing: border-box;
  border-radius: 1rem;
}

.error {
    margin: 2%;
    color: red;
}
